<h2>Things to do</h2>
<div class="button-section">
    <button class="action-button" (click)="openModal('new-task-modal')">New task</button>
</div>
<ul class="todo-table">
    <li *ngFor="let task of todotasks">
        <span class="task">{{task}}</span>
    </li>
</ul>

<app-modal id="new-task-modal">
  <div class="button-section">
    <button class="close-modal-button" (click)="closeModal('new-task-modal');">&#10006;</button>
  </div>
  <h1>New task</h1>
  <p>Details: <input type="text" /></p>
</app-modal>
