.button-section {
    display: flex;
    justify-content: flex-end;
}

.action-button {
    border: 0;
    border-radius: 4px;
    padding: 8px;
    font-family: 'Courier New', Courier, monospace;
    font-size: medium;
    color: white;
    background-color: red;
    -webkit-tap-highlight-color: transparent;
}

.action-button:hover {
    background-color: rgb(215, 0, 0);
}

.action-button:active {
    background-color: rgb(205, 0, 0);
}

.action-button:focus {
    outline: none;
}

#new-task-modal .close-modal-button {
  border: none;
  outline: none;
  background-color: white;
}

#new-task-modal .close-modal-button:active {
  display: inline-block;
  box-shadow: 0 0 0 2px #88b8ff;
  border-radius: 2px;

}
