<nav>
    <a routerLink="/"><h1> Todo App </h1></a>
    <a routerLink="/home"><h4>Home</h4></a>
    <a routerLink="/contact-us"><h4>Contact Us</h4></a>
    <a routerLink="/about"><h4>About</h4></a>
</nav>

