app-modal {
    display: none;
}

app-modal .modal-window {
    position: fixed;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    z-index: 1000;
    overflow: auto;
}

app-modal .modal-window .modal-window-body {
    padding: 16px;
    background: white;
    margin: 32px;
}

app-modal .modal-window-background {
    position: fixed;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    z-index: 900;
    background-color: rgba(0,0,0,0.5);
}

body.modal-window-open {
    overflow: hidden;
}